<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역별 상비약 판매점 현황</title>
</head>

<body>
    <h2>지역별 상비약 판매점 현황</h2>
    <hr>
    <form method="get" action="/search">
        지역: <select name='local'>
            <option value="서울특별시">서울특별시</option>
            <option value="인천광역시">인천광역시</option>
            <option value="대전광역시">대전광역시</option>
            <option value="대구광역시">대구광역시</option>
            <option value="광주광역시">광주광역시</option>
            <option value="울산광역시">울산광역시</option>
            <option value="부산광역시">부산광역시</option>
            <option value="경기도">경기도</option>
        </select>
        <input type="submit" value="찾기">
    </form>
</body>

</html>